body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 3220px;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
}


.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  /*background-color: white;*/
  width: 1440px;
  margin: 0 auto;
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection section {
  position: absolute;
  top: 191px;
  width: 498px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 142px;
}

.mainSection  h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection  p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 26px;
}

.mainSection.center {
  text-align: center;
  /*background-color: #666666;*/
}

.mainSection.center section {
  width: 100%;
  top: 191px;
}


.mainSection section figure {
  width: 30px;
  height: 4px;
  margin-top: 58px;
  background-color: #66ffcc;
}

.mainSection.right h2,
.mainSection.right p,
.mainSection.center h2,
.mainSection.center p {
  color: white;
}

.mainSection.right,
.mainSection.center {
  /*background-color: #879696;*/
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 13px;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 232px;
  right: 160px;
  width: 530px;
  height: 568px;
  background-image: url(../images/landing/landing-mockup-1.jpg);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup21 {
  top: 193px;
  left: 160px;
  width: 140px;
  height: 317px;
  background-image: url(../images/landing/landing-mockup-21.jpg);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup22 {
  top: 193px;
  left: 333px;
  width: 140px;
  height: 396px;
  background-image: url(../images/landing/landing-mockup-22.jpg);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup23 {
  top: 193px;
  left: 506px;
  width: 140px;
  height: 475px;
  background-image: url(../images/landing/landing-mockup-23.jpg);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);
}

#mockup3 {
  top: 343px;
  left: 640px;
  width: 760px;
  height: 403px;
  background-image: url(../images/landing/landing-mockup-3.jpg);
}

@media screen and (max-width: 1460px) {
  .landingWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1179px) {
  body.landing.bg {
    background-image: url(..//images/mockups/1024.png);
  }

  .mainSection {
    width: 1179px;
    height: 568px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 26px;
  }

  .mainSection.center h2{
    line-height: 39px;
  }

  .mainSection.center p{
    margin-top: 18px;
  }

  .mainSection section {
    top: 137px;
    width: 342px;
  }

  .mainSection.left section{
    left: 192px;
  }

  .mainSection.right section {
    top: 137px;
    right: 191px;
  }

  .mainSection.center section {
    top: 137px;
  }

  .mainSection section figure {
    width: 22px;
    height: 3px;
    margin-top: 42px;
  }

  .mainSection.center section nav {
    margin-top: 42px;
  }

  .mainSection.center section nav a {
    margin: 0 10px;
  }

  .mainSection.center footer p {
    font-size: 13px;
  }

  #mockup1 {
    top: 167px;
    right: 192px;
    width: 376px;
    height: 401px;
  }

  #mockup21 {
    top: 138px;
    left: 192px;
    width: 100px;
    height: 227px;
  }

  #mockup22 {
    top: 138px;
    left: 316px;
    width: 100px;
    height: 283px;
  }

  #mockup23 {
    top: 138px;
    left: 438px;
    width: 100px;
    height: 339px;
  }

  #mockup3 {
    top: 243px;
    left: 533px;
    width: 540px;
    height: 286px;
  }
}

@media screen and (max-width: 839px) {
  body.landing.bg {
    background-image: url(..//images/mockups/768.png);
  }

  /*.mainSection {
    width: 1024px;
    height: 568px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 39px;
  }

  .mainSection p {
    margin-top: 18px;
    font-size: 16px;
    line-height: 26px;
  }*/

  .mainSection.center h2{
    line-height: 39px;
  }

  .mainSection.center p{
    margin-top: 18px;
  }

  .mainSection section {
    top: 137px;
    width: 342px;
  }

  .mainSection.left section{
    left: 319px;
  }

  .mainSection.right section {
    top: 137px;
    right: 114px;
  }

  .mainSection.center section {
    top: 137px;
  }

  .mainSection section figure {
    width: 22px;
    height: 3px;
    margin-top: 42px;
  }

  .mainSection.center section nav {
    margin-top: 42px;
  }

  .mainSection.center section nav a {
    margin: 0 10px;
  }

  .mainSection.center footer p {
    font-size: 13px;
  }

  #mockup1 {
    top: 167px;
    right: 114px;
    width: 376px;
    height: 401px;
  }

  #mockup21 {
    top: 137px;
    left: 114px;
    width: 100px;
    height: 227px;
  }

  #mockup22 {
    top: 137px;
    left: 238px;
    width: 100px;
    height: 282px;
  }

  #mockup23 {
    top: 137px;
    left: 360px;
    width: 100px;
    height: 339px;
  }

  #mockup3 {
    top: 241px;
    left: 455px;
    width: 540px;
    height: 284px;
  }
}
