/*body.landing.bg {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
  height: 3220px;
}*/

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body.landing .menubar div {
  max-width: 1440px;
  margin: 0 auto;
}


.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  /*background-color: white;*/
  width: 1440px;
  margin: 0 auto;
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection section {
  position: absolute;
  top: 191px;
  width: 580px;
}

.mainSection.left section {
  left: 160px;
}

.mainSection.right section {
  right: 60px;
}

.mainSection  h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection  p {
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
  margin-top: 26px;
}

.mainSection.center {
  text-align: center;
  /*background-color: #666666;*/
}

.mainSection.center  p {
  margin-top: 26px;
}

.mainSection.center section {
  width: 100%;
  top: 191px;
}

.mainSection section figure {
  width: 30px;
  height: 4px;
  margin-top: 58px;
  background-color: #66ffcc;
}

.mainSection.right h2,
.mainSection.right p,
.mainSection.center h2,
.mainSection.center p {
  color: white;
}

.mainSection.right,
.mainSection.center {
  background-color: #879696;
}


/*.mainSection.center section nav {
  display: flex;
  margin-top: 70px;
  font-size: 0;
}

.mainSection.center section nav a {
  margin: 0 10px;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 35px;
}

.mainSection.center footer p {
  font-size: 16px;
}*/

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  /*top: 115px;
  right: -10px;*/
  width: 532px;
  height: 736px;
  background-image: url(../images/landing/landing-mockup-1.jpg);
}

#mockup2 {

}

#mockup3 {

} мммм
